@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MarsModel


@if (Model != null)
{

    @foreach (var item in Model.ImageUrl)
    {
        <table>
            <tr>
                <td>
                    <img src="@item" width="100" height="100"/>
                </td>
            </tr>
        </table>
    }
}